# default npm SAP repo
@sap:registry=http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones.npm/
registry=http://nexus.wdf.sap.corp:8081/nexus/content/groups/build.milestones.npm/
package-lock=false
